@font-face
  font-family 'Ubuntu-Bold'
  src url('assets/fonts/Ubuntu-Bold.woff2') format('woff2')
  font-weight bold
  font-style normal  

body
  background-image url('assets/img/banner.png')
  background-size cover
  background-repeat no-repeat
  font-family Ubuntu-Bold
  font-size 50px

.greenClass 
  background-color green
